In [37]:
import pandas as pd
import numpy as np
import re

In [38]:
df = pd.read_csv('train.csv')

In [39]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [61]:
# subtracting num of bedrooms from total number of rooms as bedrooms are represented in a separate feature
df['TotRmsAbvGrd'] = df['TotRmsAbvGrd'] - df['BedroomAbvGr']

In [52]:
#convert Fireplaces to boolean
df.loc[(df['Fireplaces'] > 0), 'Fireplaces'] = 1

In [40]:
#Total full and half baths
df['FullBathTotal'] = df['BsmtFullBath'] + df['FullBath']
df['HalfBathTotal'] = df['BsmtHalfBath'] + df['HalfBath']

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,FullBathTotal,HalfBathTotal
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,2,2008,WD,Normal,208500,3,1
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,181500,2,1
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,9,2008,WD,Normal,223500,3,1
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,2,2006,WD,Abnorml,140000,2,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,12,2008,WD,Normal,250000,3,1

In [70]:
#Rename one 'MSZoning' value for dummification
df.loc[(df['MSZoning'] == 'C (all)'), 'MSZoning'] = 'C'

In [77]:
#Imputing NA's with 0, as 0 represent no street connected to the lot
df[['LotFrontage']] = df[['LotFrontage']].fillna(0)

In [110]:
#Converting numerical to categorical
df = df.replace({'MSSubClass': {20: 'SC20', 30: 'SC30', 40: 'SC40', 45: 'SC45', 50: 'SC50', 60: 'SC60', 70: 'SC70', 
                                75: 'SC75', 80: 'SC80', 85: 'SC85', 90: 'SC90', 120: 'SC120', 150: 'SC150', 160: 'SC160',
                                180: 'SC180', 190: 'SC190'} })

In [111]:
# Converting ordinal to numerical

# HeatingQC, GarageCond
quality_scale = {'Ex': 1, 'Gd': 2, 'TA': 3, 'Fa': 4, 'Po': 5}

df = df.replace({'MSSubClass': {20: 'SC20', 30: 'SC30', 40: 'SC40', 45: 'SC45', 50: 'SC50', 60: 'SC60', 70: 'SC70', 
                                75: 'SC75', 80: 'SC80', 85: 'SC85', 90: 'CS90', 120: 'SC120', 150: 'SC150', 160: 'SC160',
                                180: 'SC180', 190: 'SC190'},
                 'HeatingQC': quality_scale,
                 'GarageCond': quality_scale
})

In [92]:
df[df['SalePrice'] > 400000].sort_values('SalePrice', ascending = False)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,FullBathTotal,HalfBathTotal
691,692,SC60,RL,104.0,21535,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,1,2007,WD,Normal,755000,3,2
1182,1183,SC60,RL,160.0,15623,Pave,NaN,IR1,Lvl,AllPub,...,MnPrv,NaN,0,7,2007,WD,Abnorml,745000,4,1
1169,1170,SC60,RL,118.0,35760,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,7,2006,WD,Normal,625000,4,1
898,899,SC20,RL,100.0,12919,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,3,2010,New,Partial,611657,3,1
803,804,SC60,RL,107.0,13891,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,1,2009,New,Partial,582933,3,1
1046,1047,SC60,RL,85.0,16056,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,7,2006,New,Partial,556581,3,1
440,441,SC20,RL,105.0,15431,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,4,2009,WD,Normal,555000,3,0
769,770,SC60,RL,47.0,53504,Pave,NaN,IR2,HLS,AllPub,...,NaN,NaN,0,6,2010,WD,Normal,538000,4,1
178,179,SC20,RL,63.0,17423,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,7,2009,New,Partial,501837,3,0
798,799,SC60,RL,104.0,13518,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,7,2009,New,Partial,485000,3,1
185,186,SC75,RM,90.0,22950,Pave,NaN,IR2,Lvl,AllPub,...,GdPrv,NaN,0,6,2006,WD,Normal,475000,2,1
1373,1374,SC20,RL,0.0,11400,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,3,2007,WD,Normal,466500,3,1
1243,1244,SC20,RL,107.0,13891,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,9,2006,New,Partial,465000,3,1
591,592,SC60,RL,97.0,13478,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,6,2009,ConLI,Normal,451950,3,1
527,528,SC60,RL,67.0,14948,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,11,2008,New,Partial,446261,3,1
473,474,SC20,RL,110.0,14977,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,7,2007,New,Partial,440000,3,0
58,59,SC60,RL,66.0,13682,Pave,NaN,IR2,HLS,AllPub,...,NaN,NaN,0,10,2006,New,Partial,438780,3,1
349,350,SC60,RL,56.0,20431,Pave,NaN,IR2,Lvl,AllPub,...,NaN,NaN,0,4,2006,New,Partial,437154,3,1
496,497,SC20,RL,0.0,12692,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,430000,4,0
389,390,SC60,RL,96.0,12474,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,8,2008,New,Partial,426000,3,1
1142,1143,SC60,RL,77.0,9965,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,4,2007,New,Partial,424870,4,0
664,665,SC20,RL,49.0,20896,Pave,NaN,IR2,Lvl,AllPub,...,NaN,NaN,0,1,2006,New,Partial,423000,2,1
278,279,SC20,RL,107.0,14450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,5,2007,New,Partial,415298,2,1
161,162,SC60,RL,110.0,13688,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,3,2008,WD,Normal,412500,3,1
1353,1354,SC50,RL,56.0,14720,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,3,2010,WD,Normal,410000,3,1
231,232,SC60,RL,174.0,15138,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,7,2009,WD,Normal,403000,3,1
515,516,SC20,RL,94.0,12220,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,9,2009,New,Partial,402861,3,1
661,662,SC60,RL,52.0,46589,Pave,NaN,IR2,Lvl,AllPub,...,NaN,NaN,0,7,2009,WD,Normal,402000,3,1

In [112]:
df['MSSubClass'].value_counts()

SC20     536
SC60     299
SC50     144
SC120     87
SC30      69
SC160     63
SC70      60
SC80      58
CS90      52
SC190     30
SC85      20
SC75      16
SC45      12
SC180     10
SC40       4
Name: MSSubClass, dtype: int64

In [62]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,FullBathTotal,HalfBathTotal
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,2,2008,WD,Normal,208500,3,1
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,181500,2,1
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,9,2008,WD,Normal,223500,3,1
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,2,2006,WD,Abnorml,140000,2,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,NaN,NaN,0,12,2008,WD,Normal,250000,3,1

In [19]:
# func_vals = ['Mod', 'Typ', 'Min2', 'Min1']
# nonfunc_vals = [ 'Maj1', 'Maj2', 'Sev']
# for i in func_vals:
#     df['Functional'] = df['Functional'].str.replace(i, '1')
# for i in nonfunc_vals:
#     df['Functional'] = df['Functional'].str.replace(i, '0')